.menu li a {
  color: #333;
  font-weight: 500;
  padding: 6px 12px;
  transition: all 0.1s ease;
}

.menu li a:hover {
  color: #9aa7b4;
}

.menu li a.active {
  color: rgb(155, 151, 151);
  font-weight: bold;
  border-bottom: 2px solid rgb(102, 99, 99);
}
.menu {
  position: relative;
  z-index: 999;
}
